<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innomes.main.mapper.AutoKeyMapper">
	<!-- 판매 계획 번호 시퀀스 -->
	<select id="seqSalPlanNo" resultType="Integer" flushCache="true">
		SELECT NEXT VALUE FOR SEQ_SAL_PLAN_NO;
	</select>
	
	<!-- 수주관리 번호 시퀀스 -->
	<select id="seqOrdId" resultType="Integer" flushCache="true">
		SELECT NEXT VALUE FOR SEQ_ORD_ID;
	</select>
</mapper>